/* main style sheet */

html{
	height: 100%;
}

body {
	background-color: #404040;
	height:100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

#main {
display: block;
}

/* Nav */

#nav {
	position: absolute;
	top: 20px;
	z-index: 1000;
	float: left;
	width: 100%;
}

#navbar {
	width: 80%;
	height: 52px;
	z-index: 1500;
	margin: auto;
	background-color: #ffffff;
	box-shadow: 0 1px 5px rgba(0,0,0,0.65);
	/*box-shadow: 0px 0px 10px 0px rgba(10, 10, 10, 0.45);*/
	border-radius: 4px;
}

#menu {

	border-radius: 0.15em;
}

#form-city {
	width: 300px;
}

#collapse-layer {
	float: left;
	z-index:1000;
	width: 50%;
	position: absolute;
}

#layer-content {
	height: 53px;
	width: 100%;
	margin: auto;
	color: #444444;
	z-index: 1500;
	background-color: white;
	padding: 0 20px 0 20px;
	box-shadow: 0px 0px 10px 0px rgba(10, 10, 10, 0.45);
}



				#menu > ul {
					display: inline-block;
					padding: 0 20px 0 20px;
					width: 100%;
					margin-bottom: 0px;
				}

					#menu > ul > li {
						display: inline-block;
						text-align: center;
					padding: 0 10px 0 10px;
					}

						#menu > ul > li > ul {
							display: none;
						}

					/*	#menu > ul > li > a, #menu > ul > li > span {
							display: block;
							color: #444444;
							color: rgba(255, 255, 255, 0.75);
							text-transform: uppercase;
							text-decoration: none;
							font-size: 0.7em;
							letter-spacing: 0.25em;
							height: 5em;
							line-height: 5em;
							-moz-transition: all .25s ease-in-out;
							-webkit-transition: all .25s ease-in-out;
							-o-transition: all .25s ease-in-out;
							-ms-transition: all .25s ease-in-out;
							transition: all .25s ease-in-out;
							outline: 0;
						} */

						#menu > ul > li:hover > a {
							color: #444444;
						}

						#menu > ul > li.active > a, #menu > ul > li.active > span {
							color: #444444;
						}

			.dropotron {
				background: #222835 url("images/overlay.png");
				background-color: rgba(44, 50, 63, 0.925);
				padding: 1.25em 1em 1.25em 1em;
				box-shadow: outset 0px 0px 1px 1px rgba(10, 10, 10, 0.40);
				min-width: 12em;
				text-align: left;
				margin-top: -1.25em;
				margin-left: -1px;
			}

				.dropotron.level-0 {
					margin-top: -1px;
					margin-left: 0;
					border-top-left-radius: 0;
					border-top-right-radius: 0;
				}

				.dropotron a, .dropotron span {
					-moz-transition: all .25s ease-in-out;
					-webkit-transition: all .25s ease-in-out;
					-ms-transition: all .25s ease-in-out;
					transition: all .25s ease-in-out;
					display: block;
					color: #eee;
					color: rgba(255, 255, 255, 0.75);
					text-transform: uppercase;
					text-decoration: none;
					font-size: 0.7em;
					letter-spacing: 0.25em;
					border-top: solid 1px rgba(255, 255, 255, 0.15);
					line-height: 3em;
				}

				.dropotron li:first-child a, .dropotron li:first-child span {
					border-top: 0;
				}

				.dropotron li:hover > a, .dropotron li:hover > span {
					color: #fff;
				}

ol, ul {
	list-style: none;
	padding: 0;
	margin: 0;
}



#map {
	width: 100%;
	height: 100%;
	position: absolute;
}

#collapse-about {
	position: relative;
	z-index:900;
	height: 100%;
	width: 100%;
}

#about-content{
		position: absolute;
		height:300px;
		width: 300px;
		margin: auto;
		top: 50%;

		background-color: #2f83bb;
}

#footer {
	background-color: white;
}

.footer_content {
	height: 25px;
	margin: 0px auto;
}


/* standard elemente */

ul {
	margin-bottom: 0;
}
